.rgb-text {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: -20px;
    animation: rgb-cycle 4s linear infinite; /* 4 saniyede bir renk döngüsü */
}

@keyframes rgb-cycle {
    0%   { color: #ff0000; text-shadow: 0 0 10px rgba(255, 0, 0, 0.5); } /* Kırmızı */
    20%  { color: #ff8000; } /* Turuncu */
    40%  { color: #ffff00; } /* Sarı */
    60%  { color: #00ff00; text-shadow: 0 0 10px rgba(0, 255, 0, 0.5); } /* Yeşil */
    80%  { color: #0000ff; } /* Mavi */
    100% { color: #ff0000; } /* Tekrar Kırmızı */
}